#map {
  width: 100vw;
  height: 93.8vh;
  margin: 0 auto;
}

#content {
  width: 400px;
  text-align: center;
}

#profile_nav {
  cursor: default;
}

#about_image {
  max-width: 80%;
  max-height: 80%;
  margin: 10px 0;
}

#signup_div {
  width: 50%;
}

#login_div {
  width: 50%;
}

#about_div {
  width: 50%;
}

#newbar_div {
  width: 50%;
}