body {
  font-family: 'Poppins', sans-serif;
}

#map {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

#content {
  width: 400px;
  text-align: center;
}

#login {
  display: none;
}

#signup {
  display: none;
}

#newbar {
  display: none;
}

#profile_nav {
  cursor: default;
}

#logo-small {
  height:120px;
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

#logo-large {
  height: 250px;
  z-index: 1;
  top: 200px;
  left: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

/*NAV BAR LOGO*/
#logo-text {
  width: 80px;
  margin: 10px 20px;
}

h1.welcome {
  line-height: 1;
  font-size: 26px;
  color: #F5881E;
  font-weight: 700;
}

h1.welcome-signup {
  line-height: 1;
  font-size: 26px;
  color: #F5881E;
}

.welcome-wrapper {
  display: none;
  width: 100vh;
  height: 700px;
  margin-top: 80px;
}

.welcome-info {
  display: none;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 175px;
  width: 100vw;
}

@media only screen and (max-width: 640px) {
  
  h1.welcome {
    line-height: 1;
    font-size: 19px;
    font-weight: 700;
  }

  h1.welcome-signup {
    line-height: 1;
    font-size: 19px;
  }

  #logo-large {
    height: 200px;
  }
  
}
