#map {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

#content {
  width: 400px;
  text-align: center;
}

#login {
  display: none;
}

#signup {
  display: none;
}

#newbar {
  display: none;
}

#profile_nav {
  cursor: default;
}