<!DOCTYPE html>
<html>
<head>
  <title>Rooftop Bars</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/foundation.css">
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="../js/checkaccess.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/login.js"></script>
</head>
<body>
  <form id="login" action="http://localhost:3000/login" method="post">
    <input class="email" type="text" name="email" placeholder="Email">
    <input class="password" type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
  </form>

  <!-- Testing authentication -->
  <a class="check" href="http://localhost:3000/bars">Test</a>

  <!-- Removing Jwt from LocalStorage -->
  <a class="logout" href="#">Logout</a>


  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
      <h1><a href="./index.html">Home</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
<!--         <li class="active"><a href="#">Right Button Active</a></li> -->
        <li class="has-dropdown">
          <a href="#">Username</a>
          <ul class="dropdown">
            <li><a href="#">Add Bar</a></li>
            <li><a href="#">My Profile</a></li>
            <li class="active"><a href="#">Logout</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#">Get In</a>
          <ul class="dropdown">
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a id="about_button" href="">About</a></li>
        <li><a href="#">Bars</a></li>
      </ul>
    </section>
  </nav>


  <div id="map"></div>
</body>
</html>